.LeftNavigationMenu ul.AspNet-Menu /* Tier 1 */
{
    width: 100px; /* This is more than (6em x 2) because we want to leave room for borders around the <li> elements that are selected */    
}

.LeftNavigationMenu ul.AspNet-Menu ul  /* Tier 2 */
{
    width: 40px;
    top: 0;
    left: 100px;
    padding:0;    
}
                                     /* Tier 3+ */
.LeftNavigationMenu ul.AspNet-Menu ul ul 
{
    top: 0;
    left: 40px;
}
    /* First level attributes*/
.LeftNavigationMenu a, 
.LeftNavigationMenu span,
.LeftNavigationMenu li.AspNet-Menu-Leaf a,
.LeftNavigationMenu li.AspNet-Menu-FirstL-Leaf a,
.LeftNavigationMenu li.AspNet-Menu-WithChildren a
{       
    color: #333;
	font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background: transparent url('../Images/arrowRight.gif') right center no-repeat;
	background-color: #E9EAEE;
    padding: 4px 2px 4px 8px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-top: 1px solid #fdfdfd;
	border-bottom: 1px solid #c1c1c1;	
	vertical-align: middle;
	text-decoration: none;	
	text-align:left;
} 
  /* Hovered text for First level*/
.LeftNavigationMenu li.AspNet-Menu-Hover a,
.LeftNavigationMenu li.AspNet-Menu-Hover span

{
	color: #333;
    background: transparent url('../Images/activeArrowRight.gif') right center no-repeat;
    background-color: #CCCCCC;
    font-family: Arial, Verdana, Helvetica, sans-serif;	
	font-size: 12px;
	vertical-align: middle;
	border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-top: 1px solid #fdfdfd;
	border-bottom: 1px solid #c1c1c1;
	padding: 4px 2px 4px 8px;
	text-align:left;	
}

				/* Second level attributes*/
.LeftNavigationMenu li.AspNet-Menu-Hover li a,
.LeftNavigationMenu li.AspNet-Menu-Hover li span
{
    color: #333;
    font-size: 12px;
    font-family:  Arial, Verdana, Helvetica, sans-serif;
    background: transparent url('../Images/arrowRight.gif') right center no-repeat;
    background-color: #BFC2CC;
    padding: 4px 2px 4px 8px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-top: 1px solid #fdfdfd;
	border-bottom: 1px solid #c1c1c1;	
	vertical-align: middle;
	text-decoration: none;
	text-align:left;	
	
}
                               /* hovered text for Second level */
.LeftNavigationMenu li.AspNet-Menu-Hover li.AspNet-Menu-Hover a,
.LeftNavigationMenu li.AspNet-Menu-Hover li.AspNet-Menu-Hover span
{
    color: #333;
    background: transparent url('../Images/activeArrowRight.gif') right center no-repeat;
    background-color: #B2BDEC;
    font-family: Arial, Verdana, Helvetica, sans-serif;	
	font-size: 12px;
	vertical-align: middle;
	border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-top: 1px solid #fdfdfd;
	border-bottom: 1px solid #c1c1c1;
	padding: 4px 2px 4px 8px;	
	text-align:left; 
}
				/* Third level attributes*/
.LeftNavigationMenu li.AspNet-Menu-Hover li.AspNet-Menu-Hover li a,
.LeftNavigationMenu li.AspNet-Menu-Hover li.AspNet-Menu-Hover li span
{
    color: #333;
    padding: 4px 2px 4px 8px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    background: transparent url('../Images/arrowRight.gif') right center no-repeat;
    border-top: 1px solid #fdfdfd;
	border-bottom: 1px solid #c1c1c1;	
	vertical-align: middle;
	text-decoration: none;
	font-size: 12px;
	font-family:  Arial, Verdana, Helvetica, sans-serif;
	background-color: #A5C4C8;
}
		/* hovered text for Third level */
.LeftNavigationMenu li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover a,
.LeftNavigationMenu li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover span
{
    color: #333;
    background: transparent url('../Images/activeArrowRight.gif') right center no-repeat;
    background-color:#B2BDEC;
    font-family: Arial, Verdana, Helvetica, sans-serif;	
	font-size: 12px;
	vertical-align: middle;
	border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-top: 1px solid #fdfdfd;
	border-bottom: 1px solid #c1c1c1;
	padding: 4px 2px 4px 8px;	 
}

				/* Fourth level attributes*/
.LeftNavigationMenu li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover li a,
.LeftNavigationMenu li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover li span
{
    color: Navy;
    padding: 4px 2px 4px 8px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    background: transparent url('../Images/arrowRight.gif') right center no-repeat;
    border-top: 1px solid #fdfdfd;
	border-bottom: 1px solid #c1c1c1;	
	vertical-align: middle;
	text-decoration: none;
	font-size: 12px;
	font-family:  Arial, Verdana, Helvetica, sans-serif;
	background-color: #A5C4C8;
}
		/* hovered text for Fourth level */
.LeftNavigationMenu li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover a,
.LeftNavigationMenu li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover span
{
    color: #333;
    background: transparent url('../Images/activeArrowRight.gif') right center no-repeat;
    background-color: Red;
    font-family: Arial, Verdana, Helvetica, sans-serif;	
	font-size: 12px;
	vertical-align: middle;
	border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-top: 1px solid #fdfdfd;
	border-bottom: 1px solid #c1c1c1;
	padding: 4px 2px 4px 8px;	 
}
				/* Fifth level attributes*/
.LeftNavigationMenu li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover li a,
.LeftNavigationMenu li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover li span
{
    color:Fuchsia;
    padding: 4px 2px 4px 8px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    background: transparent url('../Images/arrowRight.gif') right center no-repeat;
    border-top: 1px solid #fdfdfd;
	border-bottom: 1px solid #c1c1c1;	
	vertical-align: middle;
	text-decoration: none;
	font-size: 12px;
	font-family:  Arial, Verdana, Helvetica, sans-serif;
	background-color: #A5C4C8;
}
		/* hovered text for Fifth level */
.LeftNavigationMenu li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover a,
.LeftNavigationMenu li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover span
{
    color: #333;
    background: transparent url('../Images/activeArrowRight.gif') right center no-repeat;
    background-color:Teal;
    font-family: Arial, Verdana, Helvetica, sans-serif;	
	font-size: 12px;
	vertical-align: middle;
	border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-top: 1px solid #fdfdfd;
	border-bottom: 1px solid #c1c1c1;
	padding: 4px 2px 4px 8px;	 
}

/* Remove arrow image from leaves */
.LeftNavigationMenu li.AspNet-Menu-Leaf a, 
.LeftNavigationMenu li.AspNet-Menu-Leaf span,
.LeftNavigationMenu li.AspNet-Menu-FirstL-Leaf a
{
    background-image: none !important;    
}