body 
{
}
.ArrowPanels
{
	text-align:right;
	clear:right;
}
/* wja temporarily took out until development is done.*/

.LeftPanel
{
	font-family:Microsoft Sans Serif;
	font-size:8.25pt;
	background-color:window;
	width:300px;
	height: 350px;
	overflow:scroll;
}

.RightPanel
{
	font-family:Microsoft Sans Serif;
	font-size:8.25pt;
	background-color:window;
	width:350px;
	height: 350px;
	overflow:scroll;
}

.LeftPanel input
{
	border:0px;
}
.RightPanel input
{
	border:0px;
}
.LeftPanel tr
{
	height:12px;
	width:100px;
	overflow:hidden;
	
}
.CheckBoxCheck
{
	background-color :Blue;
}
.CheckBoxRemove
{
	background-color :Red;
}
.CheckBoxRemoveCheck
{
	background-color: darkred;
}
.CheckBoxAdd
{
	background-color : Lime;
}
.CheckBoxAddCheck
{
	background-color : green;
}
.CheckBoxUnCheck
{
	background-color : Window;
}

.HiddenColumn
{
	display:none;
}

.visiblePart
{
	visibility:visible;
}

.hiddenPart
{
	visibility:hidden;
}

