#RightUltraGrid
{
	height: 200px;
}
.pButton 
{
	background-color:#E0E9F9;
/*	border: solid 2px;
	border-top-color: #A4D3EE;
	border-bottom-color:#53868B;
	border-left-color:#53868B;
	border-right-color:#A4D3EE;*/
    font-weight:bold;
    height:27px;
   
}