.CssMenu
{
	float:right;
}
.CssMenu .AspNet-Menu-Horizontal
{
    position:relative;
    color:White;
}

.CssMenu ul.AspNet-Menu /* Tier 1 */
{
    margin-right:5px;
    color:White;
}

.CssMenu ul.AspNet-Menu li
{
    margin-left:10px;
    margin-right:10px;
}

.CssMenu a
{
	color:White;
	text-align:left;
}

.CssMenu ul.AspNet-Menu li:hover,
.CssMenu ul.AspNet-Menu li.AspNet-Menu-Hover
{
    font-weight:bold;
}

.myCssMenu li.AspNet-Menu-Leaf a, /* leaves */
.myCssMenu li.AspNet-Menu-Leaf span
{
    background-image: none !important;
}