.Label
{
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	text-align:right;
}
.ValueLabel
{
	font-size: 11px;
	color: #4682B4;
	text-align:left;
}
.ComboGridFrame, #WebCombo1xxGrid_div
{
	width: 325px;
	height: 200px;
	cursor: default;
	font-size: 10pt;
	font-family: Verdana;
	background-color: silver;
}
#TemplateTable
{
	border: #333333 1px solid;
	width: 640px;
	height: 101px;
	margin-top: 5px;
	background-color: #dcdcdc;
}
.textEnable
{
	color:Blue;
}
#LeftButtons
{
	clear: right; 
	float: left; 
	width: 50px; 
	border: solid 0pt #000; 
	height: 200px;
	text-align:center;
}
#UltraWebGrid1WebAsyncRefreshPanel
{
	height: 200px;
}
#RightUltraGrid
{
	clear: left; 
	float: right; 
	width: 721px; 
	border: solid 0pt #000; 
	height: 200px;
}
.watermark {
	background: #FFAAFF;
}

.popupControl {
	background-color:#AAD4FF;
	position:absolute;
	visibility:hidden;
	border-style:solid;
	border-color: Black;
	border-width: 2px;
	height : 200px;
}

.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:9px;
	width:250px;
	height:300px;
	
}

.sampleStyleA {
	background-color:#FFF;
}

.sampleStyleB {
	background-color:#FFF;
	font-family:monospace;
	font-size:10pt;
	font-weight:bold;
}

.sampleStyleC {
	background-color:#ddffdd;
	font-family:sans-serif;
	font-size:10pt;
	font-style:italic;
}

.sampleStyleD {
	background-color:Blue;
	color:White;
	font-family:Arial;
	font-size:10pt;
}

.pButton 
{
	background-color:#E0E9F9;
/*	border: solid 2px;
	border-top-color: #A4D3EE;
	border-bottom-color:#53868B;
	border-left-color:#53868B;
	border-right-color:#A4D3EE;*/
    font-weight:bold;
    height:27px;
   
}
