body
{
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    margin: 0%;
    padding-top: 1%;
    /*height: 95%;*/
    background-image:url(../Images/UC_PORTAL_HP_BG_GRAY_GRAD.gif);
}
#pageWrapper
{
    width: 800px;
    margin: auto;  
    border: solid 1pt #000; 
    height: 100%; 
}
#topHeader
{
    clear:both;
    float:none;
    background-image: url(../Images/lg_cgi_header.gif);
    width: 800px;
    height: 51px;
    background-repeat: no-repeat;
    background-color: #CE0024;
    text-align:right;
    color: White;
    line-height:3em;
    /*font-size: small;*/
    border-right-width:2px;
}

#headerGraphic
{
    clear: both;
    float: none;
    background-image: url(../Images/ph_header_home.jpg);
    height: 100px;
    background-repeat:repeat-x;
    text-align:right;
}

#externalNavigationArea
{
	background-color: #CE0024;
	color: White;
	text-align:right;
	float:right;
}
#userHeader
{
	clear:both;
    background-color: #4682b4;
    color:White;
    height:20px;
}

#userInf
{
	clear:both;
	float:left;
	width:195px;
	position:static;
	text-transform:capitalize;
}
#pageHeader
{
	clear:left;
	float:right;
    font-weight: bold;
    text-align:left;
    width:500px;
    position:static;
}
#headerIcons
{
	clear:both;
	float:right;
	width:100px;
	position:static;
}
#bodyArea
{
    background-repeat: repeat-y;
    float: left;
}
#bodyLeft
{
    clear: left;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 0.7em;
    float: left;
    vertical-align: top;
    width: 100px;
    color: blue;
    background-color:Silver;
    font-family: Arial;
    position: static;
    text-align: center;
}
#bodyRight
{
    font-family: Arial;
    clear: right;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 0.8em;
    float: right;
    vertical-align: top;
    width: 685px;
    height: 100%;
    background-color: white;
    position: static;
    text-align: justify;
    overflow: auto;
}
#footerArea
{
    font-size: 0.7em;
    background-color:gray;
    vertical-align:bottom;
    color: #c0c0c0;
    font-family: Arial;
    height: 26px;
    text-align: center;
    background-repeat: no-repeat;
    width: 800px;
    font-weight: bold;
    clear:both;
    position:relative;
     font-size:8pt;
}

