body
{
    background-image:url(../Images/BackgroundGrad1.jpg);
    background-repeat:repeat-x;
    font-family:Arial, Helvetica, sans-serif;
	font-size:8.25pt;
	background-color:#2f455b;
	/*border: solid 1px #ffffff;*/
	/*width:768px;*/
	
}
table
{
	margin: 0px;
	padding: 0px;
	border: 0px;
	border-spacing: 0px;
}
#pageWrapper
{
   width: 975px;
   margin:auto;  
   border: solid 1pt #ffffff;
   height: 100%;
    
}

/* Header Tags *******/

.headerBackground
{
	background-image:url(../Images/TopNavBack1.gif);
}
.headerlogo
{
    width: 200px;
}
.xperience
{
	width:200px;
	background-color:#CE0024;
}
.lowertopphalink
{
	border-style: solid none none none;
	border-width: 1px 0px 0px 0px;
	border-color: black;
	/*width: 647px;*/
	color: #C0C0C0;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: small;
	background-color: #52789f;
	vertical-align: middle;	
	height:20px;
	padding-top:2px;
}
.lowertopphalink a
{
	text-decoration: none;
	color: #C0C0C0;
}
.lowertopphalink a:hover
{
	color:White;
	text-decoration:underline;
}
.lowertopphalink a:visited
{
	text-decoration:none;
}
.upperrightnav
{
    /*width: 630px;*/
	color: White;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size:small;
	float:right;
}
.upperrightnav a
{
	text-decoration:none;
	color:White;
}
.upperrightnav a:hover
{
	color:Silver;
}
.upperrightnav a:visited
{
	text-decoration:none;
}
.phatitle
{
	color: White;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size:medium;
	font-weight:bold;
}

/* Left Navigation Area *******/
.leftnavarea
{
	vertical-align:top;
	background-color:#494949;
	padding-left:5px;
	padding-top:7px;
	width:158px;
}

/* Body Area *******/
#bodyRight
{
	background-color:White;
	padding-left:7px;
	padding-right:7px;
	background-image:url(../Images/GridFadeToWhite.gif);
	background-position:bottom right;
	background-repeat:no-repeat; 
}
.bodyright
{
	background-color:White;
	background-image:url(../Images/GridFadeToWhite.gif);
	background-position:bottom right;
	background-repeat:no-repeat; 
}
.pagetitle
{
	font-size:large;
	/*color:#425D7a;*/
	color:#52789f;
	
}
.lblsubscriptions
{
	vertical-align:middle;
	color:White;
	height:30px;
}

/* Footer Tags *******/
.lnfooter
{
	
	width:200px;
	height:24px;
	text-align:center;
	color:White;
	background-image:url(../Images/FooterBackground1.jpg);
	background-color:#6591be; 
}
.lnfooter a
{
	text-decoration: none;
	color: White;
}
.lnfooter a:hover
{
	color:red;
	text-decoration:underline;
}
.lnfooter a:visited
{
	text-decoration:none;
}
.footer
{
	background-image:url(../Images/FooterBackground1.jpg);
	background-color:#6591be;
	height:0px;
	text-align:center;
	color:White;
}
.footer a
{
	text-decoration: none;
	color: White;
}
.footer a:hover
{
	color:Red;
	text-decoration:underline;
}
.footer a:visited
{
	text-decoration:none;
}

.pButton 
{
	background-color:#E0E9F9;
/*    border: solid 2px;
	border-top-color: #E0EEEE;
	border-bottom-color:#53868B;
	border-left-color:#53868B;
	border-right-color:#E0EEEE;*/
    font-weight:bold;
    height:27px;
   
}

.pButtonOver 
{
	background-color:#6996AD;	
    font-weight:bold;
    height:27px;
    cursor:pointer;    
   
}
.AllCalendars
{
	background-color:#E0E9F9;
		 
}
.EditorBack
{
	background-color:#FFFFFF !important;
	background-image:url(../Images/TopNavBack1.gif) !important;
	z-index :18000 !important;
}


.appointStyle
{
	border-top:  ridge 0px #120A8F;
	border-bottom: solid 0px #120A8F;
	width:100%;
	
}

.pager
{
	color:  #FFFFFF;
}

.pager a
{
	text-decoration:underline;
	color:  #FFFFFF;
	font-family:Arial, Helvetica, Sans-Serif;
}
.pager a:hover
{
	color:red;
	text-decoration:underline;
	
}

.gridStyle
{
	 background-color:#F0F8FF;
}

.gridLinkStyle a
{
	color:#2F2F4F;
	
}

.gridLinkStyle a:hover
{
	color:#FF0000;
}

.gridLinkStyle a:visited
{
	color:#3300FF;
}

.excelExport
{
	background-image: url(../Images/excel-download.gif);
	background-position:right;
	background-repeat:no-repeat;
	
}
.standardButton
{
	background-image: url(../Images/Button2Off.gif);
	background-color:Transparent ;
	background-position:center ;
	background-repeat:no-repeat;
	border:None;
	font-weight:bold;
	color: Black;   
    cursor:pointer;
    width:84px;
    height:36px; 
}
.standardButtonOver
{
	background-image: url(../Images/Button2On.gif);
	background-color:Transparent ;
	background-position:center ;
	background-repeat:no-repeat;
	border:None;
	font-weight:bold;   
    cursor:pointer;
    width:84px;
    height:36px; 
    color:black;
    
}
.shortButton
{
	background-image: url(../Images/Button2shortOff.gif);
	background-color:Transparent ;
	background-position:center ;
	background-repeat:no-repeat;
	border:None;
	font-weight:bold;
	color: Black;   
    cursor:pointer;
    width:70px;
    height:26px; 
}
.shortButtonOver
{
	background-image: url(../Images/Button2shortOn.gif);
	background-color:Transparent ;
	background-position:center ;
	background-repeat:no-repeat;
	border:None;
	font-weight:bold;   
    cursor:pointer;
    width:70px;
    height:26px; 
    color:black;
    
}

.NewButton
{
	background-image: url(../Images/Button2Off.gif);
	background-color:Transparent ;
	background-position:center ;
	background-repeat:no-repeat;
	border:None;
	font-weight:bold;
	color: Black;   
    cursor:pointer;
    width:158px;
    height:36px; 
}
.NewButtonOver
{
	background-image: url(../Images/Button2On.gif);
	background-color:Transparent ;
	background-position:center ;
	background-repeat:no-repeat;
	border:None;
	font-weight:bold;   
    cursor:pointer;
    width:158px;
    height:36px; 
    color:black;
    
}
.NewButtonUnits
{
	background-image: url(../Images/Button2Off.gif);
	background-color:Transparent ;
	background-position:center ;
	background-repeat:no-repeat;
	border:None;
	font-weight:bold;
	color: Black;   
    cursor:pointer;
    width:100px;
    height:36px; 
}
.NewButtonUnitsOver
{
	background-image: url(../Images/Button2On.gif);
	background-color:Transparent ;
	background-position:center ;
	background-repeat:no-repeat;
	border:None;
	font-weight:bold;   
    cursor:pointer;
    width:100px;
    height:36px; 
    color:black;
    
}
.NewButtonLong
{
	background-image: url(../Images/Button2LongOff.gif);
	background-color:Transparent ;
	background-position:center ;
	background-repeat:no-repeat;
	border:None;
	font-weight:bold;
	color: Black;   
    cursor:pointer;
    width:158px;
    height:36px; 
}
.NewButtonLongOver
{
	background-image: url(../Images/Button2LongOn.gif);
	background-color:Transparent ;
	background-position:center ;
	background-repeat:no-repeat;
	border:None;
	font-weight:bold;   
    cursor:pointer;
    width:158px;
    height:36px; 
    color:black;
    
}

.NewButtonExtraLong
{
	background-image: url(../Images/Button2ExtraLongOff.gif);
	background-color:Transparent ;
	background-position:center ;
	background-repeat:no-repeat;
	border:None;
	font-weight:bold;
	color: Black;   
    cursor:pointer;
    width:158px;
    height:36px; 
}
.NewButtonExtraLongOver
{
	background-image: url(../Images/Button2ExtraBigOn.gif);
	background-color:Transparent;
	background-position:center ;
	background-repeat:no-repeat;
	border:None;
	font-weight:bold;   
    cursor:pointer;
    width:158px;
    height:36px; 
    color:black;
    
}
.NewButtonExtraDrkBlueLong
{
	background-image: url(../Images/Button2ExtraLongDrkBlueOff.gif);
	background-color:Transparent ;
	background-position:center ;
	background-repeat:no-repeat;
	border:None;
	font-weight:bold;
	color: Black;   
    cursor:pointer;
    width:158px;
    height:36px; 
}
.NewButtonExtraDrkBlueLongOver
{
	background-image: url(../Images/Button2ExtraLongDrkBlueOn.gif);
	background-color:Transparent ;
	background-position:center ;
	background-repeat:no-repeat;
	border:None;
	font-weight:bold;   
    cursor:pointer;
    width:158px;
    height:36px; 
    color:black;
    
}

.pillButton
{
	background-image: url(../Images/pillButton2Off.gif);
	background-color:Transparent ;
	background-position:center ;
	background-repeat:no-repeat;
	border:None;
	font-weight:bold;
	color: Black;   
    cursor:pointer;
    width:160px;
    height:24px; 
}
.pillButtonOver
{
	background-image: url(../Images/pillButton2On.gif);
	background-color:Transparent ;
	background-position:center ;
	background-repeat:no-repeat;
	border:None;
	font-weight:bold;   
    cursor:pointer;
    width:160px;
    height:24px; 
    color:black;
    
}
.configButton1
{
	background-image: url(../Images/btnFadeBackDarkBlue.gif);
	background-color:Transparent ;
	background-position:center ;
	background-repeat: repeat-x;	
	border: solid 1px #557ca5;
	padding-left: 8px;
	font-weight:normal;
	color: White;   
    cursor:pointer;
    width:160px;
    height:24px; 
}
.configButton1Over 
{
	background-image: url(../Images/btnFadeBackBeige.gif);
	background-color:Transparent ;
	background-position:center ;
	background-repeat: repeat-x;	
	border: solid 1px #557ca5;
	padding-left: 8px;
	font-weight:normal;
	color: Blue;   
    cursor:pointer;
    width:160px;
    height:24px; 
    
}
 .configLink 
{	
	position :relative;
	top: 3px;
	font-weight:normal;
	color: Blue; 
	vertical-align: middle;
	font-weight:bold;
	color: White;
}

.configLink : hover
{	
	position :relative;
	top: 3px;
	font-weight:normal;
	color: Blue; 
	vertical-align: middle;
	font-weight:bold;
	
}