.CssMenu2
{
	float:right;
	/*background-color: Maroon;*/
	margin-right:84px;
}
.CssMenu2 .AspNet-Menu-Horizontal
{
    position:relative;
}

.CssMenu2 li.AspNet-Menu-WithChildren a
{
	color: #CE0024;
	padding: 4px 2px 4px 8px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	background: url(../Images/arrowDown.gif) firebrick no-repeat right center; /*border-top: 1px solid #fdfdfd;
	border-bottom: 1px solid #c1c1c1;*/
	vertical-align: middle;
	text-decoration: none;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: White;
}

.CssMenu2 li.AspNet-Menu-Leaf a
{
	color: #333;
	padding: 4px 2px 4px 8px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	background: url(../Images/arrowDown.gif) #cccccc no-repeat right center;
	border-top: 1px solid #fdfdfd;
	border-bottom: 1px solid #c1c1c1;
	vertical-align: middle;
	text-decoration: none;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	background-color:#E3E3E3;
}

.CssMenu2 ul.AspNet-Menu li
{
    margin-right:5px;
    width:150px;
}
.CssMenu2 ul.AspNet-Menu ul /* Tier 2 */
{
    margin-right:0px;
}

.CssMenu2 ul.AspNet-Menu li
{
    margin-left:0px;
    margin-right:0px;
}

/* Hovered text for First level*/
.CssMenu2 li.AspNet-Menu-WithChildren a:hover
{
    background: transparent url('../Images/activeArrowDown.gif') right center no-repeat;
    background-color: #CE0024;
}

/* Hovered text for Second level*/
.CssMenu2 ul.AspNet-Menu li.AspNet-Menu-Leaf a:hover
{
	background-color: gray;
}

/* Remove arrow image from leaves */
.CssMenu2 li.AspNet-Menu-Leaf a, /* leaves */
.CssMenu2 li.AspNet-Menu-Leaf span
{
    background-image: none !important;
}