/* RadScheduler Default skin */

.RadScheduler_MySkin 
{
    color:#000;
    background:#fff;
}

.RadScheduler_MySkin  td,
.RadScheduler_MySkin  th
{
	margin: 0;
	padding: 0;
}

.RadScheduler_MySkin ,
.RadScheduler_MySkin table
{
    font:11px/16px verdana,sans-serif;
}

/* header */

.RadScheduler_MySkin .rsHeader
{
    border:1px solid #000;
    border-bottom:0;
    background:url(Scheduler/menuItem.gif) repeat-x;
}

.RadScheduler_MySkin .rsHeader p
{
	float:left;
    left:11px;
    width:90px;
    height:26px;
    margin:7px 0 0 0;
    padding:0;   
    background:url(Scheduler/PrevNext.gif) 4px 0 no-repeat;
    line-height:21px;
    color:#4081b8;
}

.RadScheduler_MySkin .rsHeader .rsPrevDay,
.RadScheduler_MySkin .rsHeader .rsNextDay
{
    top:0;
    width:14px;
    height:21px;
}

.RadScheduler_MySkin .rsHeader .rsPrevDay
{
    left:0;
}

.RadScheduler_MySkin .rsHeader .rsNextDay
{
    left:15px;
}

.RadScheduler_MySkin .rsHeader em
{
    font-style: normal;
}

.RadScheduler_MySkin .rsHeader p em
{
	position:absolute;
	top:0;
	left:38px;
}

.RadScheduler_MySkin .rsHeader p em a
{
    color:#fefefe;
}
 
.RadSchedule_MySkin .rsHeader p em a:hover
{
    text-decoration:none;
}

.RadScheduler_MySkin .rsHeader h2
{
    margin:0;
    padding:0 0 0 130px;
    font-size:12px;
    line-height:34px;
    color:#fff;
    font-weight:normal;
}

.RadScheduler_MySkin .rsHeader ul
{
    list-style:none;
    float:right;
    margin:0;
    text-align:right;
    font-size:12px;
    line-height:36px;
    height:36px;
}

.RadScheduler_MySkin .rsHeader li
{
    float:left;
    border-left:1px solid #000;
    background:url(Scheduler/menuItem.gif) 0 100% repeat-x #fbfdfe;
    color:#fff;
}

.RadScheduler_MySkin .rsHeader .rsSelected,
.RadScheduler_MySkin .rsHeader ul a
{
    padding:0 12px;
}

.RadScheduler_MySkin .rsHeader ul a
{
    float:left;
    display:block;
    color:#fff;
    text-decoration:none;
}

.RadScheduler_MySkin .rsHeader .rsSelected,
.RadScheduler_MySkin .rsHeader ul a:hover
{
    background:url(Scheduler/menuItemSelected.gif) center 0 repeat-x #fdf9d5;
}

/* table header */

.RadScheduler_MySkin .rsColumnHeader,
.RadScheduler_MySkin .rsAllDay
{
    border-left: 1px solid #868686; 
    border-right: 1px solid #868686;
}

.RadScheduler_MySkin .rsAllDayCell
{
    border-bottom: 1px solid #6B696B;
    border-right: 1px solid #6B696B;
    background: #d6d6d6;
    cursor: default;
}

.RadScheduler_MySkin .rsDayView .rsAllDayCell,
.RadScheduler_MySkin .rsWeekView .rsAllDayCell
{
    border-color: #6B6B6B;
}

/* Begin IE6 Fix - All day-appointments disappear on click */
* html .RadScheduler_MySkin .rsAllDayCell
{
	height: 25px;
	_height: auto;
}

* html .RadScheduler_MySkin .rsAllDayCell .rsWrap
{
	height: 100%;
	_height: 25px;
}
/* End IE6 Fix  */

.RadScheduler_MySkin .rsAllDayCell .rsWrap
{
	height: 25px;
}

.RadScheduler_MySkin .rsColumnHeader
{
	/*background: #868686;*/
    background: #f3f3c6; 
}

.RadScheduler_MySkin .rsColumnHeaderFirstCell
{
    /*background: #868686; */
    background: #15428b; 
    height: 25px;
}

.RadScheduler_MySkin .rsColumnHeaderSpacerCell,
.RadScheduler_MySkin .rsColumnHeaderLastSpacerCell,
.RadScheduler_MySkin .rsColumnHeaderCell
{
   /*background: #868686;*/ 
    background: #15428b; 
}

.RadScheduler_MySkin .rsColumnHeaderSpacerCell,
.RadScheduler_MySkin .rsColumnHeaderLastSpacerCell
{
	border-bottom: 1px solid #6B696B;
}

.RadScheduler_MySkin table.rsHoursTable
{
	table-layout: auto;
}

.RadScheduler_MySkin .rsColumnHeaderFirstCell div,
.RadScheduler_MySkin .rsColumnHeaderSpacerCell div,
.RadScheduler_MySkin .rsColumnHeaderLastSpacerCell div,
.RadScheduler_MySkin .rsHoursTable th,
.RadScheduler_MySkin .rsHoursTable th div
{
	/* hours on the left columns*/
    width: 70px;
}

.RadScheduler_MySkin .rsMonthView .rsVertical .rsColumnHeaderSpacerCell div
{
	width:98px;
}

.RadScheduler_MySkin .rsHoursTable .rsAllDayFirstCell div
{
	width: 100%;
	text-align: center;
}

.RadScheduler_MySkin .rsMonthView .rsColumnHeaderFirstCell div,
.RadScheduler_MySkin .rsMonthView .rsColumnHeaderLastSpacerCell,
.RadScheduler_MySkin .rsMonthView .rsColumnHeaderLastSpacerCell div,
.RadScheduler_MySkin .rsMonthView .rsHoursTable th,
.RadScheduler_MySkin .rsMonthView .rsHoursTable th div,
/*.RadScheduler_MySkin .rsWeekView .rsVertical .rsColumnHeaderSpacerCell,
.RadScheduler_MySkin .rsWeekView .rsVertical .rsColumnHeaderSpacerCell div,*/
.RadScheduler_MySkin .rsHoursTable .rsSubHeaderHidden,
.RadScheduler_MySkin .rsHoursTable .rsSubHeaderHidden div,
.RadScheduler_MySkin .rsTimelineView .rsColumnHeaderLastSpacerCell,
.RadScheduler_MySkin .rsTimelineView .rsColumnHeaderLastSpacerCell div
{
    width: 0;
}

.RadScheduler_MySkin .rsMonthView .rsHoursTable th
{
	border-right: 0;
}

.RadScheduler_MySkin .rsMonthView .rsHoursTable .rsMainHeader,
.RadScheduler_MySkin .rsMonthView .rsHoursTable .rsMainHeader div,
.RadScheduler_MySkin .rsTimelineView .rsHoursTable .rsMainHeader,
.RadScheduler_MySkin .rsTimelineView .rsHoursTable .rsMainHeader div
{
	border-right-color: #868686;
}

.RadScheduler_MySkin .rsMonthView .rsHoursTable .rsMainHeader,
.RadScheduler_MySkin .rsMonthView .rsHoursTable .rsMainHeader div
{
	width: 100px;
}

.RadScheduler_MySkin .rsAllDayFirstCell
{
	color: #fff;
	font-size: 12px;
    height: 25px;
    text-align:center;
    background: #868686; 
    border-right: 1px solid #6b6b6b;
}

.RadScheduler_MySkin .rsAllDayFirstCell div
{
	width: 100px;
}

.RadScheduler_MySkin .rsAllDayLastCell
{
    border-left: 1px solid #d6d6d6;
    border-bottom:1px solid #6B696B;
    background: #d6d6d6; 
}

.RadScheduler_MySkin .rsColumnHeaderSpacerCell
{
	padding-right: 1px;
}

.RadScheduler_MySkin .rsColumnHeaderLastSpacerCell
{
    border-right: 1px solid #6B696B;
}

.RadScheduler_MySkin .rsMonthView .rsVertical .rsColumnHeaderLastSpacerCell
{
    border-right: 0;
}

.RadScheduler_MySkin .rsColumnHeaderSpacerCell,
.RadScheduler_MySkin .rsColumnHeaderLastSpacerCell
{
	border-top: 1px solid #6B696B;
}

.RadScheduler_MySkin .rsAllDayLastCell div,
.RadScheduler_MySkin .rsColumnHeaderLastCell div
{
	width: 15px;
}

.RadScheduler_MySkin .rsColumnHeaderTable
{
	border-left: 0;
    border-right: 1px solid #6B696B;
}

.RadScheduler_MySkin .rsTimelineTable
{
    border-right: 1px solid #6B696B !important;
}

.RadScheduler_MySkin .rsColumnHeaderTable .rsLastCell
{
	border-right: 0;
}

.RadScheduler_MySkin .rsAllDayTable,
.RadScheduler_MySkin .rsTimelineTable
{
    border-right: 1px solid #6B696B;
}

.RadScheduler_MySkin .rsColumnHeaderFirstCell,
.RadScheduler_MySkin .rsColumnHeaderRow th
{
	/*Header At Top*/
    border-top: 1px solid #6b696b; 
    border-right: 1px solid #6b696b; 
    border-bottom: 1px solid #6b696b; 
    background:#15428b;     
    height: 20px;
}

.RadScheduler_MySkin .rsColumnHeaderRow th
{
	color: #fff;
    text-align:center;
    white-space: nowrap;
}

.RadScheduler_MySkin .rsColumnHeaderRow th.rsTodayCol
{
    background:url(Scheduler/WeekDayToday.gif) center 0 repeat-x #ea8e00;
}

.RadScheduler_MySkin .rsColumnHeaderLastCell
{
	border-top: 1px solid #6B696B;
	border-left: 1px solid #868686;
    background:#868686;
}

.RadScheduler_MySkin .rsTimelineView .rsHoursTable .rsMainHeader
{
	border-bottom: 1px solid #6B696B;
}

.RadScheduler_MySkin .rsHoursTable .rsSubHeaderLast
{
	height: 26px;
}

/*.RadScheduler_MySkin .rsContentTable .rsLastCell,*/
.RadScheduler_MySkin .rsAllDayRow .rsLastCell
{
    border-right: 0;
}

.RadScheduler_MySkin .rsShowMore
{
	cursor: pointer;
	text-align: center;
	color: #074121;
	text-decoration: underline;
}

/* main content */

.RadScheduler_MySkin .rsContent
{
    border: 1px solid #868686;
    border-top-width: 0px; 
}

.RadScheduler_MySkin .rsHoursTable th
{
	color: #fff;
    height: 25px;
    border-top: 1px solid #C7C7C7;
    border-right: 1px solid #6b6b6b; 
    background: #15428b;
    font-size: 12px;
}

.RadScheduler_MySkin .rsVertical .rsHoursTable .rsMainHeader
{
	height: auto;
}

.RadScheduler_MySkin .rsHoursTable .rsMainHeader div
{
	height: 100%;
	vertical-align: middle;
}

.RadScheduler .rsMainHeader .rsHoursContent
{
	position: static;
	padding-left: 3px;
	
}

.RadScheduler_MySkin .rsHoursTable .rsHoursWrapper
{
	zoom: 1;
}

.RadScheduler_MySkin .rsTimelineView .rsHoursTable th
{
	border-top: 0;
}

.RadScheduler_MySkin .rsVertical .rsHoursTable .rsMainHeader
{
	border-bottom: 1px solid #868686;
}

.RadScheduler_MySkin .rsVertical .rsHoursTable .rsMainHeader th
{
	height: auto;
}

.RadScheduler_MySkin .rsHoursTable .rsMainHeader .rsHoursWrapper
{
	/*height: auto;*/
}

.RadScheduler_MySkin .rsHoursTable .rsMainHeader .rsHoursWrapper,
.RadScheduler_MySkin .rsHoursTable .rsMainHeader .rsHoursContent
{
	/*display: inline;
	position: static;*/
}

.RadScheduler_MySkin .rsMonthView .rsHoursTable th
{
	border-top: 0;
}

.RadScheduler_MySkin .rsDayView .rsAltHour,
.RadScheduler_MySkin .rsWeekView .rsAltHour
{
	padding-bottom: 1px;
}

.RadScheduler_MySkin .rsDayView .rsAllDayTable,
.RadScheduler_MySkin .rsWeekView .rsAllDayTable
{
	border-top: 1px solid #6B6B6B;
}

.RadScheduler_MySkin .rsHoursTable th.rsAltHour
{
    border-top: 0;
}
.RadScheduler_MySkin .rsHoursTable .rsMainHeader .rsHoursContent .rsAmPm
{
	
	 vertical-align:bottom;
}

/* task table */

.RadScheduler_MySkin .rsContentTable
{
    border-right: 1px solid #5b5b5b;
}

.RadScheduler_MySkin .rsMonthView .rsContentTable
{
    /*border-right: 0;*/
}

.RadScheduler_MySkin .rsCell
{
	border-right: 1px solid #ddd; 
    background: #f8f8f8;
    height: 25px;
    border-bottom: 1px solid #ddd;
    vertical-align:top;
}

.RadScheduler_MySkin td.rsWorkHour 
{
	background:#fff; 
}

.RadScheduler_MySkin .rsMonthView .rsCell
{
	height: auto;
	background:#fff;
}

.RadScheduler_MySkin .rsMonthView .rsWrap
{
	height: 25px;
}

.RadScheduler_MySkin .rsAltRow .rsCell
{
	border-bottom-style: dotted;
	border-bottom-color:#e6e6e6;
}

.RadScheduler_MySkin .rsMonthView td.rsOtherMonth
{
    background:#f2f2f2;
}

.RadScheduler_MySkin .rsContentTable .rsSatCol,
.RadScheduler_MySkin .rsContentTable .rsSunCol
{
    background:#f7f7f7;
    border-bottom-color:#ddd;
}

.RadScheduler_MySkin .rsMonthView .rsLastRow td.rsSatCol,
.RadScheduler_MySkin .rsMonthView .rsLastRow td.rsSunCol
{
    border-bottom-color:#a2a2a2;
}

.RadScheduler_MySkin .rsLastRow .rsCell
{
	border-bottom: 0;
}

.RadScheduler_MySkin .rsContentTable .rsRow .rsAptCreate,
.RadScheduler_MySkin .rsAllDayRow .rsAptCreate
{
    background:#f3f3f3;
}

/* small edit form */

.RadScheduler_MySkin .rsAptEdit
{
    background: #cbecb0;
}

.RadScheduler_MySkin .rsEditOptions
{
	float: right;
    margin-right: 2px;
}

.RadScheduler_MySkin .rsAptEditConfirm
{
    background:url('Scheduler/AppointmentEditOK.gif') no-repeat center center;
    height:20px;
}

.RadScheduler_MySkin .rsAptEditCancel
{
    background:url('Scheduler/AppointmentEditCancel.gif') no-repeat center center;
    height:20px;
}

.RadScheduler_MySkin .rsEditOptions a.rsAptEditMore 
{
    font-size:0.9em;
    line-height:20px;
    text-align:right;
    text-indent:0pt;
    color:#4985AB;
    text-decoration: none;
}

.RadScheduler_MySkin .rsEditOptions a 
{
	float: left;
	width: 15px;
}

.RadScheduler_MySkin .rsEditOptions a.rsAptEditMore 
{
	width: 30px;
}

.RadScheduler_MySkin .rsAptEditTextareaWrapper textarea 
{
    border:1px solid;
    border-color:#abadb3 #dbdfe6 #e3e9ef #e2e3ea;
    font-family:arial,sans-serif;
    font-size: 11px;
    overflow: auto;
}

/* apt */

.RadScheduler_MySkin .rsContentTable .rsApt
{
	width:100%;
}

.RadScheduler_MySkin .rsAptWrap
{
    border-left: 1px solid #c7e1b1;
    border-right: 1px solid #c7e1b1;
    background:#ebffdb;
}

.RadScheduler_MySkin .rsAptInner
{
    border-top: 1px solid #c7e1b1;
    width:100%;
}

.RadScheduler_MySkin .rsAptBottom
{
    border-bottom: 1px solid #c7e1b1;
}

/*
.RadScheduler_MySkin .rsAptSelected .rsAptWrap
{
    border-left-color:#86c950;
    border-right-color:#86c950;
    background:#d8f5c0;
}

.RadScheduler_MySkin .rsAptSelected .rsAptInner
{
    border-top: 1px solid #86c950;
}

.RadScheduler_MySkin .rsAptSelected .rsAptBottom
{
    border-bottom: 1px solid #86c950;
}
*/

.RadScheduler_MySkin .rsAptResize
{
    background:url('Scheduler/AppointmentExpand.gif') no-repeat center bottom;
    width: 15px;
    height: 6px;
    bottom: 1px;
    margin-left: -7px;
    left: 50%;
    cursor: s-resize;
}

.RadScheduler_MySkin .rsAptDelete 
{
    background:url('Scheduler/AppointmentDelete.gif') no-repeat;
    height:11px;
    right:3px;
    top:3px;
    width:11px;
    text-indent:-99em;
}

.RadScheduler_MySkin .rsAptRecurrence
{
	padding: 0px 3px;
	margin: 0px 3px;
    background:url('Scheduler/rsRecurrence.gif') no-repeat 0 50%;
}

.RadScheduler_MySkin .rsAptRecurrenceException
{
	padding: 0px 3px;
	margin: 0px 3px;
    background:url('Scheduler/rsRecurrenceException.gif') no-repeat 0 50%;
}

.RadScheduler_MySkin .rsAptContent
{
    width:100%;
}

.RadScheduler_MySkin .rsAptInner
{
    width:100%;
}

.RadScheduler_MySkin .rsApt
{
    width:100%;
}

/* Appointment Arrows */

.RadScheduler_MySkin .rsWArrowTop .rsAptContent
{
    padding-top:7px;
}
.RadScheduler_MySkin .rsWArrowBottom .rsAptContent
{
    padding-bottom:7px;
}
.RadScheduler_MySkin .rsWArrowLeft .rsAptContent
{
    padding-left:10px;
}
.RadScheduler_MySkin .rsWArrowRight .rsAptContent
{
    padding-right:10px;
}

.RadScheduler_MySkin .rsArrowTop,
.RadScheduler_MySkin .rsArrowBottom
{
    width:100%;
    height:4px;
    left:0;
}

.RadScheduler_MySkin .rsArrowLeft,
.RadScheduler_MySkin .rsArrowRight
{
    width:4px;
    height:100%;
    top:0;
}

.RadScheduler_MySkin .rsArrowTop
{
    top:2px;
    background:url('Scheduler/AppointmentArrowU.gif') 50% 0 no-repeat;
}
.RadScheduler_MySkin .rsArrowBottom
{
    background:url('Scheduler/AppointmentArrowD.gif') 50% 0 no-repeat;
    bottom:2px;
}
.RadScheduler_MySkin .rsArrowLeft
{
    background:url('Scheduler/AppointmentArrowL.gif') 0 50% no-repeat;
    left:3px;
}
.RadScheduler_MySkin .rsArrowRight
{
    background:url('Scheduler/AppointmentArrowR.gif') 0 50% no-repeat;
    right:3px;
}

/* footer */

.RadScheduler_MySkin .rsFooter{  
	border:1px solid #a2a2a2;
    border-top:0;
    background:#15428b;
    line-height:20px;
    color: #ffffff;
}

.RadScheduler_MySkin .rsFooter a
{
    margin-left:10px;
    padding-left:11px;
    background:url('Scheduler/Show24.gif') 0 0.3em no-repeat;
    color:#ffffff;
}

/* Advanced Edit */

.RadScheduler_MySkin .rsAdvancedEdit
{
    background:#f7f7f7;
	border:1px solid #a0a0a0;
	cursor: default;
}

.RadScheduler_MySkin .rsAdvancedEdit .rsAdvInput,
.RadScheduler_MySkin .rsAdvancedEdit select
{
	border: 1px solid #626262;
}

.RadScheduler_MySkin .rsAdvancedEdit .pickerWrapper_MySkin
{
	border: 0;
}

.RadScheduler_MySkin .rsAdvancedEdit textarea
{
    display:block;
	border:1px solid #dbdfe6;
	border-top:1px solid #abadb3;
	font: 12px Arial,sans-serif;
}

.RadScheduler_MySkin .rsAdvancedEdit p strong
{
	color:#7ba108;
}

.RadScheduler_MySkin .rsAdvMoreDetails,
.RadScheduler_MySkin .rsAdvRecurrence
{
	border-top: 1px solid #dfdfdf;
	border-bottom:1px solid #cdcdcd;
	background:url('Scheduler/AdvEditHead.gif') repeat-x #dfdfdf;
	padding:0 0 0 16px;
	font-size:14px;
	line-height:29px;
	height:29px;
}

.RadScheduler_MySkin .rsAdvMoreDetails
{
	margin:1em 0 0.6em;
}
.RadScheduler_MySkin .rsAdvRecurrence
{
	margin:1em 0 0;
}


.RadScheduler_MySkin .rsAdvancedSubmitArea
{
	padding-top:2px;
	line-height:3em;
	border-top:1px solid #dadada;
	background:#fff;
}

.RadScheduler_MySkin .rsAdvEditSave,
.RadScheduler_MySkin .rsAdvEditCancel
{
	margin-left:16px;
	text-decoration:none;
	font-weight:bold
}

.RadScheduler_MySkin .rsAdvEditSave
{
	padding-left:15px;
	background:url('Scheduler/AppointmentEditOK.gif') 0 0.4em no-repeat;
	color:#588f02;
	font-size:1.6em
}

.RadScheduler_MySkin .rsAdvEditCancel
{
	padding-left:13px;
	background:url('Scheduler/AppointmentEditCancel.gif') 0 0.36em no-repeat;
	color:#e46100;
	font-size:1.2em;
}

.RadScheduler_MySkin .rsAdvancedEdit textarea
{
	display:block;
	width:80%;
}

.RadScheduler_MySkin .rsAdvBasicControls:after,
.RadScheduler_MySkin .rsAdvMoreControls ul:after,
.RadScheduler_MySkin .rsAdvRecurrenceFreq:after,
.RadScheduler_MySkin .rsAdvRecurrencePatterns:after
{
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}

.RadScheduler_MySkin .rsAdvBasicControls label,
.RadScheduler_MySkin .rsAdvBasicControls textarea
{   
    display:block;
    margin:0.8em 0 0 15px;
}

.RadScheduler_MySkin .rsAdvBasicControls ul
{
    list-style:none;
    margin:0.8em 0 0 15px;
    padding:0;
}

.RadScheduler_MySkin .rsAdvBasicControls li
{
    float:left;
    margin-right:10px;
}

.RadScheduler_MySkin .rsAdvBasicControls li label
{
    display:inline;
    margin-top: 0;
    margin-left:0;
    vertical-align:middle;
    zoom: 1;
}

.RadScheduler_MySkin .rsAdvBasicControls li .rsAdvInput
{
	margin-right:5px;
}

.RadScheduler_MySkin .rsAdvMoreControls ul,
.RadScheduler_MySkin .rsAdvRecurrenceRangePanel ul
{
    list-style:none;
    margin:0.8em 0 0 15px;
    padding:0;
}

.RadScheduler_MySkin .rsAdvRecurrenceRangePanel label
{
	padding-right: 4px;
}

.RadScheduler_MySkin .rsAdvMoreControls li
{
    float:left;
    clear:left;
    width:100%;
}

.RadScheduler_MySkin .rsAdvMoreControls li label
{
    float:left;
    width:60px;
}

.RadScheduler_MySkin .rsAdvancedEdit .rsAdvCheckboxWrapper input
{
	vertical-align: middle;
}

.RadScheduler_MySkin .rsAdvancedEdit .rsAdvCheckboxWrapper label
{
	width: auto;
}

.RadScheduler_MySkin .rsAdvMoreControls li input
{
    float:left;
}

.RadScheduler_MySkin .rsAdvRecurrenceRange
{
    margin:1em 0 0;
    padding:0.8em 0 0 15px;
}

.RadScheduler_MySkin .rsAdvRecurrenceFreq
{
    float:left;
    width:150px;
    margin:0.8em 0 0 0;
    border-right:1px solid #dfdfdf;
}

.RadScheduler_MySkin .rsAdvRecurrenceFreq ul
{
    list-style:none;
    margin:0 0 0 15px;
    padding:0;
}


.RadScheduler_MySkin .rsAdvResetExceptions
{
	clear: both;
	text-align: right;
}

.RadScheduler_MySkin .rsAdvHourly,
.RadScheduler_MySkin .rsAdvDaily,
.RadScheduler_MySkin .rsAdvWeekly,
.RadScheduler_MySkin .rsAdvMonthly,
.RadScheduler_MySkin .rsAdvYearly
{
    float:left;
    margin:1em 0 0 0;
    padding-left:2em;
    position:relative;
    left:-2px;
}

.RadScheduler_MySkin .rsAdvHourly ul,
.RadScheduler_MySkin .rsAdvDaily ul,
.RadScheduler_MySkin .rsAdvWeekly ul,
.RadScheduler_MySkin .rsAdvMonthly ul,
.RadScheduler_MySkin .rsAdvYearly ul
{
    list-style:none;
    margin:0 0 0 15px;
    padding:0;
    width: 390px;
}

.RadScheduler_MySkin .rsAdvHourly li,
.RadScheduler_MySkin .rsAdvDaily li,
.RadScheduler_MySkin .rsAdvWeekly li,
.RadScheduler_MySkin .rsAdvMonthly li,
.RadScheduler_MySkin .rsAdvYearly li,
.RadScheduler_MySkin .rsAdvRecurrenceRangePanel li,
.RadScheduler_MySkin .rsAdvMoreControls li
{
    margin:0 0 0.3em 0;
}

.RadScheduler_MySkin .rsAdvHourly input,
.RadScheduler_MySkin .rsAdvDaily input,
.RadScheduler_MySkin .rsAdvWeekly input,
.RadScheduler_MySkin .rsAdvMonthly input,
.RadScheduler_MySkin .rsAdvYearly input,
.RadScheduler_MySkin .rsAdvHourly select,
.RadScheduler_MySkin .rsAdvDaily select,
.RadScheduler_MySkin .rsAdvWeekly select,
.RadScheduler_MySkin .rsAdvMonthly select,
.RadScheduler_MySkin .rsAdvYearly select
{
    margin:0 2px;
}

.RadScheduler_MySkin .rsAdvRecurrencePatterns .rsAdvInput,
.RadScheduler_MySkin .rsAdvRecurrenceRangePanel .rsAdvInput
{
	width: 30px;
	padding-left: 1px;
	padding-right: 1px;
}

.RadScheduler_MySkin .rsAdvRecurrencePatterns .rsAdvWeekly_Weekday
{
	float: left;
	width: 100px;
}

.RadScheduler_MySkin .rsConfirmation
{
    position:absolute;
    z-index:10001;
    width:284px;
    height:185px;
    border:1px solid #8bbde8;
    padding-left:96px;
    background:#f4fcff url('Scheduler/rsConfirmation.gif') repeat-y;
}

.RadScheduler_MySkin .rsConfirmation h1,
.RadScheduler_MySkin .rsConfirmation h2
{
    margin:22px 0;
    font:normal 14px/1.2 arial,sans-serif;
    color:#333;
}

.RadScheduler_MySkin .rsConfirmation div
{
    font:normal 14px/1.2 arial, sans-serif;
    color:#085ba1;
}

.RadScheduler_MySkin .rsConfirmation input
{
    position:relative;
    top:1px;
}

.RadScheduler_MySkin .rsConfirmation .rsButtonContainer
{
    margin:20px 0 0;
}

.RadScheduler_MySkin .rsConfirmation .rsButtonContainer a
{
    background:#085ba1;
    margin: 5px;
    padding:1px 3px 3px;
    color:#fff;
    text-decoration:none;
}

.RadScheduler_MySkin .rsAdvancedEdit .radInput_MySkin,
.RadScheduler_MySkin .rsAdvancedEdit .pickerWrapper_MySkin
{
	vertical-align: top;
}

.RadScheduler_MySkin .rsScrollingContent
{
	scrollbar-face-color: #52789f;
	scrollbar-highlight-color: #c2d7f9;
	scrollbar-shadow-color: #425d7a;
	scrollbar-3dlight-color: #dbdbdb;
	scrollbar-arrow-color: #ffffff;
	scrollbar-track-color: #6b98c7;
	scrollbar-darkshadow-color: #15428b;
	
}