/*Telerik RadGrid Default Skin*/

/*global*/

.RadGrid_MySkin{
	background:#d4d0c8;
	color:#333;
}

.RadGrid_MySkin,
.MasterTable_MySkin,
.DetailTable_MySkin,
.GroupPanel_MySkin table,
.GridEditForm_MySkin table
{
	font:11px/1.4 arial,sans-serif;
}

.RadGrid_MySkin,
.DetailTable_MySkin{
	border:1px solid #232323;
}

.MasterTable_MySkin,
.DetailTable_MySkin{
	background:#fff;
	border-collapse:separate !important;
}

.GridRow_MySkin td,
.GridAltRow_MySkin td,
.GridEditRow_MySkin td,
.GridFooter_MySkin td,
.GridGroupFooter_MySkin td
{
	padding-left:10px;
	padding-right:6px;
}

.RadGrid_MySkin .rgAdd,
.RadGrid_MySkin .rgRefresh,
.RadGrid_MySkin .rgEdit,
.RadGrid_MySkin .rgDel,
.RadGrid_MySkin .rgFilter,
.RadGrid_MySkin .rgPagePrev,
.RadGrid_MySkin .rgPageNext,
.RadGrid_MySkin .rgExpand,
.RadGrid_MySkin .rgCollapse,
.RadGrid_MySkin .rgSortAsc,
.RadGrid_MySkin .rgSortDesc,
.RadGrid_MySkin .rgUpdate,
.RadGrid_MySkin .rgCancel
{
	width:16px;
	height:16px;
	border:0;
	padding:0;
	background-color:transparent;
	background-image:url('Grid/sprite.gif');
	background-repeat:no-repeat;
	vertical-align:middle;
	cursor:pointer;
}

.GroupPanelItems_MySkin input,
.GridCommandRow_MySkin img,
.GridHeader_MySkin input,
.GridFilterRow_MySkin img,
.GridPager_MySkin img
{
	vertical-align:middle;
}

/*header*/

.GridHeaderDiv_MySkin{
	background:url('Grid/sprite.gif') 0 0 repeat-x #929292;
}

.GridHeader_MySkin,
.ResizeHeader_MySkin{
	border-bottom:1px solid #010101;
	background:url('Grid/headers.gif') repeat-x #434343;
	padding: 5px 6px 5px 11px;
	text-align:left;
	font-size:1.3em;
	font-weight:normal;
}

.GridHeader_MySkin:first-child,
.ResizeHeader_MySkin:first-child
{
	background-position:-2px 0;
}

.DetailTable_MySkin .GridHeader_MySkin,
.DetailTable_MySkin .ResizeHeader_MySkin{
	padding-top:2px;
	padding-bottom:2px;
	background:url('Grid/headers.gif') 0 -316px repeat-x #474747;
}

.DetailTable_MySkin .GridHeader_MySkin:first-child,
.DetailTable_MySkin .ResizeHeader_MySkin:first-child
{
	background-position:-2px -316px;
}

.GridHeader_MySkin,
.GridHeader_MySkin a
{
	color:#fff;
	text-decoration:none;
}

/*rows*/

.GridRow_MySkin td,
.GridAltRow_MySkin td,
.GridEditRow_MySkin td,
.GridFooter_MySkin td,
.GridGroupFooter_MySkin td
{
	padding-top:0.4em;
	padding-bottom:0.4em;
}

.GridRow_MySkin td,
.GridAltRow_MySkin td,
.GridFooter_MySkin td,
.GridGroupFooter_MySkin td
{
	border-left:1px solid #7e7e7e;
}

.GridRow_MySkin>td:first-child,
.GridAltRow_MySkin>td:first-child,
.GridFooter_MySkin>td:first-child,
.GridGroupFooter_MySkin>td:first-child
{
	border-left-color:#fff;
}

.GridRow_MySkin a,
.GridAltRow_MySkin a,
.GridFooter_MySkin a,
.GridGroupFooter_MySkin a,
.GridEditForm_MySkin a
{
	color:#333;
}

.SelectedRow_MySkin{
	background:#425d7a;
	
	color:#fff;
}

.SelectedRow_MySkin a,
.GridEditRow_MySkin a
{
	color:#fff;
}

.SelectedRow_MySkin td,
.SelectedRow_MySkin>td:first-child
{
	border-left-color:#3f3f3f;
}

.ActiveRow_MySkin,
.GridRowOver_MySkin{
	background:#e6e6e6;
	color:#333;
}

.ActiveRow_MySkin>td:first-child,
.GridRowOver_MySkin>td:first-child
{
	border-left-color:#e6e6e6;
}

.GridEditRow_MySkin{
	background:#2c2c2c;
	color:#fff;
}

.GridEditRow_MySkin td
{
	border-left-color:#373737;
}

/*footer*/

.GridFooterDiv_MySkin{
	background:#fff;
}

.GridFooter_MySkin,
.GridGroupFooter_MySkin{
	color:#666;
}

.GridFooter_MySkin td,
.GridGroupFooter_MySkin td
{
	border-top:1px solid #e8e8e8;
}

/*status*/

.GridPager_MySkin span
{
	color:#666;
}

/*paging*/

.GridPager_MySkin{
	background:#e4e4e4;
	line-height:26px;
}

.GridPager_MySkin td
{
	border-top:1px solid #acacac;
	border-bottom:1px solid #e7e6d9;
	padding:0 10px;
}

.GridPager_MySkin div span,
.GridPager_MySkin a,
.GridPager_MySkin .sliderPagerLabel_MySkin{
	color:#333;
}

.PagerLeft_MySkin{
	float:left;
}

.PagerRight_MySkin{
	float:right;
}

.PagerCenter_MySkin{
	text-align:center;
}

.PagerCenter_MySkin *
{
	vertical-align:middle;
}

.RadGrid_MySkin .rgPagePrev
{
	background-position:5px -1248px;
}

.RadGrid_MySkin .rgPageNext
{
	background-position:-21px -1248px;
}

/*sorting, reordering*/

.GridHeader_MySkin .rgSortAsc
{
	background-position:-18px -960px;
}

.GridHeader_MySkin .rgSortDesc
{
	background-position:3px -959px;
}

.TopReorderIndicator_MySkin,
.BottomReorderIndicator_MySkin{
	width:11px !important;
	height:11px !important;
	margin-left:-5px;
	background:url('Grid/sprite.gif') 0 -932px no-repeat;
}

.BottomReorderIndicator_MySkin{
	background-position:-21px -932px;
}

/*filtering*/

.GridFilterRow_MySkin td
{
	border-bottom:1px solid #696969;
	padding:0.2em 6px 0.2em 11px;
	background:url('Grid/sprite.gif') 0 -796px no-repeat #929292;
}

.GridFilterRow_MySkin>td:first-child
{
	background:none #929292;
}

.RadGrid_MySkin .rgFilter
{
	background-position:2px -897px;
}

.GridFilterRow_MySkin input[type="text"]
{
	border:1px solid #626262;
	font:12px arial,sans-serif;
	color:#333;
	vertical-align:middle;
}

/*grouping*/

.GroupPanel_MySkin{
	border-top:1px solid #383838;
	background:url('Grid/sprite.gif') repeat-x 0 -400px #1f1f1f;
	color:#8f8f8f;
}

.GroupPanel_MySkin .rgSortAsc
{
	background-position:-21px -1023px;
}

.GroupPanel_MySkin .rgSortDesc
{
	background-position:5px -1023px;
}

.GroupPanel_MySkin td
{
	padding:1px 6px 4px;
}

.GroupPanel_MySkin td td
{
	padding:0;
}

.GroupHeader_MySkin{
	background:url('Grid/sprite.gif') 0 -581px repeat-x;
	font-size:1.27em;
	font-weight:bold;
}

.GroupHeader_MySkin td
{
	padding:0.5em 11px 0.5em 6px;
}

.GroupHeader_MySkin td p
{
    display:inline;
    padding:0 10px;
    background:#fff;
}

.RadGrid_MySkin .rgExpand
{
	background-position:-21px -990px;
	background-color:#fff;
}

.RadGrid_MySkin .rgCollapse
{
	background-position:4px -989px;
	background-color:#fff;
}

.GroupHeader_MySkin td div
{
	top:-0.6em;
}

.GroupHeader_MySkin td div div
{
	top:0;
	background:#fff;
	padding:0 15px;
}

.GroupHeader_MySkin td div div div
{
	background:transparent;
	padding:0;
}

/*editing*/

.GridEditForm_MySkin{
	border-bottom:1px solid #7e7e7e;
}

.GridEditForm_MySkin input[type="text"],
.GridEditForm_MySkin textarea
{
	border:1px solid #626262;
	font:11px arial,sans-serif;
	color:#333;
}

.RadGrid_MySkin .rgUpdate
{
	background-position:2px -1186px;
}

.RadGrid_MySkin .rgCancel
{
	background-position:2px -1217px;
}

/*hierarchy*/

.DetailTable_MySkin{
	border-right:0;
}

/*command row*/

.GridCommandRow_MySkin{
	background:url('Grid/sprite.gif') repeat-x 0 -400px #1f1f1f;
	color:#8f8f8f;
}

.GridCommandRow_MySkin td
{
	border-top:1px solid #383838;
	padding:1px 6px 2px;
}

.GridCommandRow_MySkin td td
{
	border:0;
	padding:0;
}

.GridCommandRow_MySkin a
{
	color:#9a9a9a;
	text-decoration:none;
}

.GridCommandRow_MySkin a img
{
	vertical-align:middle;
}

.RadGrid_MySkin .rgAdd
{
	background-position:0 -1060px;
}

.RadGrid_MySkin .rgRefresh
{
	background-position:0 -1092px;
}

.RadGrid_MySkin .rgEdit
{
	background-position:1px -1123px;
}

.RadGrid_MySkin .rgDel
{
	background-position:0 -1156px;
}

/*loading*/

.LoadingPanel_MySkin{
	background:url('Grid/loading.gif') center center no-repeat #fff;
}

/*rtl*/

.RadGridRTL_MySkin .GridHeader_MySkin,
.RadGridRTL_MySkin .ResizeHeader_MySkin{
	text-align:right;
}

.RadGridRTL_MySkin .GridRow_MySkin td,
.RadGridRTL_MySkin .GridAltRow_MySkin td,
.RadGridRTL_MySkin .GridEditRow_MySkin td,
.RadGridRTL_MySkin .GridFooter_MySkin td,
.RadGridRTL_MySkin .GroupHeader_MySkin td
{
	padding-right:10px;
	padding-left:6px;
}

.RadGridRTL_MySkin .GridHeader_MySkin,
.RadGridRTL_MySkin .ResizeHeader_MySkin,
.RadGridRTL_MySkin .GridFilterRow_MySkin td
{
	padding-right:11px;
	padding-left:6px;
}

.RadGridRTL_MySkin .PagerLeft_MySkin,
.RadGridRTL_MySkin .GridPager_MySkin .radslider
{
	float:right;
}

.RadGridRTL_MySkin .PagerRight_MySkin{
	float:left;
}
