/* RadScheduler Default skin */

/* common */
.RadScheduler_MySkin,
.RadScheduler_MySkin input,
.RadScheduler_MySkin select,
.RadScheduler_MySkin textarea,
.RadScheduler_MySkin .rsAllDayTable
{
	font: normal 12px Arial, sans-serif;
	color: #333;
}

.RadScheduler_MySkin .rsTopWrap
{
	border: 1px solid #828282;
}

/* header */

.RadScheduler_MySkin .rsHeader,
.RadScheduler_MySkin .rsHeader ul a,
.RadScheduler_MySkin .rsHeader .rsSelected,
.RadScheduler_MySkin .rsHeader .rsSelected em,
.RadScheduler_MySkin .rsHeader .rsDatePickerActivator,
.RadScheduler_MySkin .rsHeader .rsPrevDay,
.RadScheduler_MySkin .rsHeader .rsNextDay
{
	background: url('Scheduler/rsSprites.gif') no-repeat;
}

.RadScheduler_MySkin .rsHeader
{
	background-position: 0 0;
	background-repeat: repeat-x;
	border-bottom: 1px solid #5a5a5a;
	height: 36px;
	line-height: 36px;
}



.RadScheduler_MySkin .rsHeader,
.RadScheduler_MySkin .rsHeader a
{
	color: #fff;
}

.RadScheduler_MySkin .rsHeader .rsPrevDay,
.RadScheduler_MySkin .rsHeader .rsNextDay
{
	width: 24px;
	height: 24px;
	line-height: 15px;
}

.RadScheduler_MySkin .rsHeader .rsPrevDay
{
	margin: 6px 0 0 10px;
	background-position: 0 -48px;
}

.RadScheduler_MySkin .rsHeader .rsNextDay
{
	margin: 6px 8px 0 0;
	background-position: -24px -48px;
}

.RadScheduler_MySkin .rsHeader .rsDatePickerActivator
{
	margin: 13px 0 0 2px;
	width: 16px;
	height: 15px;
	line-height: 15px;
	background-position: -252px -37px;
}

.RadScheduler_MySkin .rsHeader h2
{
	font-size: 15px;
	font-weight: normal;
}

.RadScheduler_MySkin .rsHeader li
{
	font-size: 13px;
}

.RadScheduler_MySkin .rsHeader ul span,
.RadScheduler_MySkin .rsHeader ul em
{
	line-height: 36px;
	padding: 0 9px;
	color: #fff;
}

.RadScheduler_MySkin .rsHeader .rsSelected { background-position: 100% -108px; margin-left: -3px; }
.RadScheduler_MySkin .rsHeader .rsSelected em { color: #000000; background-position: 0 -108px; padding-left: 12px; }




.RadScheduler_MySkin .rsHeader ul a { background-position: 100% -72px; float:left;
    display:block;
    color:#fff;
    text-decoration:none;
 }
.RadScheduler_MySkin .rsHeader ul .rsLast a { background-position: 100% 1000px; }

/* content */

/* <headers> */

.RadScheduler_MySkin .rsSpacerCell,
.RadScheduler_MySkin .rsHorizontalHeaderWrapper,
.RadScheduler_MySkin .rsHorizontalHeaderTable
{
	
	background: #ededed;
	color: #272722;
}

.RadScheduler_MySkin .rsAllDayHeader,
.RadScheduler_MySkin .rsVerticalHeaderWrapper,
.RadScheduler_MySkin .rsVerticalHeaderTable
{
	background: #15428b;
	color:#FFFFFF;
	
}

.RadScheduler_MySkin .rsVerticalHeaderTable div
{
	font-size: 17px;
}

.RadScheduler_MySkin .rsAmPm
{
	
	font-variant: normal;
	font-size: 15px;
	vertical-align:bottom;

}

.RadScheduler_MySkin .rsSpacerCell,
.RadScheduler_MySkin .rsHorizontalHeaderTable th
{
	border-color: #747474;
	background:#15428B;
	color: #ffffff;
	text-align : center;
	/*background: transparent url('Scheduler/rsSprites.gif') repeat-x 0 -281px;*/
}

.RadScheduler_MySkin .rsAllDayHeader,
.RadScheduler_MySkin .rsTopWrap .rsVerticalHeaderTable th
{
	border-color: #f3f3e2 #acaba6;
	color: #FFFFFF;
	background: #15428B;/* url('Scheduler/rsSprites.gif') no-repeat -262px -444px;*/
	border-bottom: 0;
}

.RadScheduler_MySkin .rsVerticalHeaderTable .rsAlt th
{ 
	border-color: #f3f3e2 #acaba6;
}

.RadScheduler_MySkin .rsVerticalHeaderTable .rsAlt div
{
	margin: 0 3px;
	height: 23px;
	border-bottom: 1px solid #acaba6;
}

/* </headers> */

/* <all-day-row> */

.RadScheduler_MySkin .rsAllDayRow
{
	background: #ededed;
}

.RadScheduler_MySkin .rsAllDayHeader,
.RadScheduler_MySkin .rsVerticalHeaderTable .rsAllDayHeader
{
	border-color: #b0aca0 #acaba6;
}

.RadScheduler_MySkin .rsAllDayRow td,
.RadScheduler_MySkin .rsContentTable .rsAllDayRow td
{
	border-color: #b3b3b3;
	border-style: solid;
}

/* </all-day-row> */

.RadScheduler_MySkin .rsContentTable td
{
	border-color: #f3f3e2 #ddd;
}

.RadScheduler_MySkin .rsContentTable .rsAlt td
{
	border-color: #d3d3c0;
}

/* <appointments> */
.RadScheduler_MySkin .rsContentTable.rsApt
{
	border-color: Red;
	}

/* ------------------------------- */

.RadScheduler_MySkin .rsAptWrap
{
    border-left: 0px solid #c7e1b1;
    border-right: 0px solid #c7e1b1;
    background:#ebffdb;
   
}

.RadScheduler_MySkin .rsAptInner
{
    border-top: 1px solid #c7e1b1;
    width:100%;
}

.RadScheduler_MySkin .rsAptBottom
{
    border-bottom: 1px solid #c7e1b1;
}


/* ------------------------------- */
.RadScheduler_MySkin .rsApt .rsArrowTop,
.RadScheduler_MySkin .rsApt .rsArrowBottom,
.RadScheduler_MySkin .rsApt .rsArrowLeft,
.RadScheduler_MySkin .rsApt .rsArrowRight,
.RadScheduler_MySkin .rsApt .rsAptDelete,
.RadScheduler_MySkin .rsApt .rsAptResize,
.RadScheduler_MySkin .rsApt .rsAptRecurrence,
.RadScheduler_MySkin .rsApt .rsAptRecurrenceException
{
	background: url('Scheduler/rsSprites.gif') no-repeat;
}

.RadScheduler_MySkin .rsApt .rsArrowTop { background-position: 50% -360px }
.RadScheduler_MySkin .rsApt .rsArrowBottom { background-position: 50% -392px }
.RadScheduler_MySkin .rsApt .rsArrowLeft { background-position: -132px -374px; top: 9px; left: 2px; }
.RadScheduler_MySkin .rsApt .rsArrowRight { background-position: -165px -374px; top: 9px; right: 2px; }
.RadScheduler_MySkin .rsApt .rsAptDelete { background-position: -36px -349px; width: 13px; }
.RadScheduler_MySkin .rsApt .rsAptResize { background-position: 50% -396px; bottom: 2px; }
.RadScheduler_MySkin .rsTimelineView .rsApt .rsAptResize { background-position: -150px -403px; }
.RadScheduler_MySkin .rsApt .rsAptRecurrence { background-position: 0 -349px; padding-top: 10px; }
.RadScheduler_MySkin .rsApt .rsAptRecurrenceException { background-position: -15px -349px; padding-top: 10px; }

.RadScheduler_MySkin .rsAptCreate
{
	background: #dfdfdf;
}

.RadScheduler_MySkin .rsApt .rsAptOut,
.RadScheduler_MySkin .rsApt .rsAptMid
{
	
	border-color: #aaa;
	
}

.RadScheduler_MySkin .rsApt .rsAptOut
{
	border-color: #aaa;
}


/* </appointments> */

/* <footer> */

.RadScheduler_MySkin .rsFooter,
.RadScheduler_MySkin .rsFooter a
{
	background: transparent url('Scheduler/rsSprites.gif') no-repeat;
}

.RadScheduler_MySkin .rsFooter
{
	background-color: #d8d8d8;
	background-position: 0 -312px;
	background-repeat: repeat-x;
	border-color: #828282;
}

.RadScheduler_MySkin .rsFooter a
{
	color: #6E6E6E	;
	background-position: 0 -252px;
}

/* </footer> */

/* inline edit form */

.RadScheduler_MySkin .rsEditOptions a,
.RadScheduler_MySkin .rsAptEditResizeHandle,
.RadScheduler_MySkin .rsAptEditFormWrapper
{
	background: url('Scheduler/rsSprites.gif') no-repeat;
}

.RadScheduler_MySkin .rsAptEditFormOuter, /* top */
.RadScheduler_MySkin .rsAptEditFormInner  /* bottom */
{
	background: url('Scheduler/rsInlineEditHSprite.gif') no-repeat;
}

.RadScheduler_MySkin .rsAptEditFormMiddle, /* left */
.RadScheduler_MySkin .rsAptEditFormMiddle2 /* right */
{
	background: url('Scheduler/rsInlineEditVSprite.gif') no-repeat;
}

.RadScheduler_MySkin .rsAptEditFormOuter { background-position: 100% 0; }
.RadScheduler_MySkin .rsAptEditFormInner { background-position: 0 100%; }
.RadScheduler_MySkin .rsAptEditFormMiddle { background-position: 0 100%; }
.RadScheduler_MySkin .rsAptEditFormMiddle2 { background-position: 100% 100%; }
.RadScheduler_MySkin .rsAptEditFormWrapper { background-position: -265px -242px; }

.RadScheduler_MySkin .rsAptEditFormWrapper .rsAptEditTextareaWrapper
{
	border-color: #aaa;
}

.RadScheduler_MySkin .rsEditOptions
{
	background: #dedede;
}

.RadScheduler_MySkin .rsEditOptions a
{
	color: #000;
}

.RadScheduler_MySkin .rsEditOptions .rsAptEditConfirm { background-position: 0 -187px; }
.RadScheduler_MySkin .rsEditOptions .rsAptEditCancel { background-position: 0 -223px; }
.RadScheduler_MySkin .rsEditOptions .rsAptEditMore { background-position: -265px -187px; }

.RadScheduler_MySkin .rsAptEditResizeHandle { background-position: -265px -216px; }

/* advanced edit form sprites */
.RadScheduler_MySkin .rsAdvancedEdit .rsAdvancedSubmitArea .rsAdvEditSave,
.RadScheduler_MySkin .rsAdvancedEdit .rsAdvancedSubmitArea .rsAdvEditCancel
{
	background: url('Scheduler/rsSprites.gif') no-repeat;
}

.RadScheduler_MySkin .rsAdvancedEdit
{
	background: #ececec;
	border: 1px solid #828282;
}

/* <xref input skins> */

.RadScheduler_MySkin .rsAdvancedEdit .rsAdvInput,
.RadScheduler_MySkin .rsAdvancedEdit select,
.RadScheduler_MySkin .rsAdvancedEdit .textareaWrapper
{
	border-color: #959485;
}

.RadScheduler_MySkin .rsAdvancedEdit .rsAdvInput
{
	padding: 3px 0 3px 1px;
}


.RadScheduler_MySkin .rsAdvancedEdit .rsInvalid,
.RadScheduler_MySkin .rsAdvancedEdit .rsInvalid textarea
{
	background: #fff url('') no-repeat scroll 99% -183px;
}

.RadScheduler_MySkin .rsAdvancedEdit .textareaWrapper
{
	background: #fff;
}

.RadScheduler_MySkin .rsAdvancedEdit .rsInvalid
{
	border-color: #f32800;
	color: #f32800;
}
/* </xref input skins> */

.RadScheduler_MySkin .rsAdvancedEdit h2
{
	color: #48ae28;
	line-height: 24px;
	height: 24px;
	
	font-size: 12px;
	
	text-indent: 15px;

	border-top: 1px solid #c8e7be;
	border-bottom: 1px solid #87df6c;
	
	background: url('Scheduler/rsSprites.gif') repeat-x 0 -420px;
}

.RadScheduler_MySkin .rsAdvancedEdit h3
{
	font-size: 12px;
}

.RadScheduler_MySkin .rsAdvancedEdit label
{
	line-height: 23px;
}

.RadScheduler_MySkin .rsAdvancedEdit .rsAdvResetExceptions a
{
	color: #279500;
}

.RadScheduler_MySkin .rsAdvancedEdit .rsAdvRecurrenceFreq
{
	border-color: #c3c2a4;
}

.RadScheduler_MySkin .rsAdvancedEdit .rsAdvHourly,
.RadScheduler_MySkin .rsAdvancedEdit .rsAdvDaily,
.RadScheduler_MySkin .rsAdvancedEdit .rsAdvWeekly,
.RadScheduler_MySkin .rsAdvancedEdit .rsAdvMonthly,
.RadScheduler_MySkin .rsAdvancedEdit .rsAdvYearly
{
	border-left: 0;
}

.RadScheduler_MySkin .rsAdvancedEdit .rsAdvancedSubmitArea
{
	background: #fff;
	
	border-color: #dadada;
	
	height: 30px;
	padding-left: 21px;
}

.RadScheduler_MySkin .rsAdvancedEdit .rsAdvancedSubmitArea .rsAdvEditSave,
.RadScheduler_MySkin .rsAdvancedEdit .rsAdvancedSubmitArea .rsAdvEditCancel
{
	margin-right: 26px;
	font-weight: bold;
}

.RadScheduler_MySkin .rsAdvancedEdit .rsAdvancedSubmitArea .rsAdvEditSave
{
	color: #588f02;
	font-size: 18px;
	background-position: 0 -179px;
	padding-left: 16px;
	line-height: 27px;
}

.RadScheduler_MySkin .rsAdvancedEdit .rsAdvancedSubmitArea .rsAdvEditCancel
{
	color: #e46100;
	font-size: 12px;
	background-position: 0 -214px;
	padding-left: 13px;
	line-height: 30px;
}

/* date/time picker styles */

.RadScheduler_MySkin table.RadCalendarTimeView_MySkin a
{
	padding: 3px;
	text-align: right;
}

* html .RadScheduler_MySkin .rsTimePick .RadInput_MySkin { vertical-align: top; }
*+html .RadScheduler_MySkin .rsTimePick .RadInput_MySkin { vertical-align: top; }

.RadScheduler_MySkin .rsTimePick .RadInput_MySkin input.riEnabled,
.RadScheduler_MySkin .rsTimePick .RadInput_MySkin input.riHover,
.RadScheduler_MySkin .rsTimePick .RadInput_MySkin input.riFocused
{
	background: #fff url('Scheduler/rsSprites.gif') no-repeat 100% -252px;
}

.RadScheduler_MySkin div.pickerWrapper_MySkin
{
	vertical-align: baseline;
}

/* modal dialogs */

.RadScheduler_MySkin .rsModalWrapper .rsModalDialog
{
	border-color: #929292;
}

.RadScheduler_MySkin .rsModalWrapper .rsModalOuter
{
	border-color: #6b6b6b;
}

.RadScheduler_MySkin .rsModalWrapper .rsModalInner
{
	border-color: #e9e9e9;
}

.RadScheduler_MySkin .rsModalWrapper .rsModalTitle
{
	color: #6E6E6E;
}

.RadScheduler_MySkin .rsModalWrapper .rsModalIcon,
.RadScheduler_MySkin .rsModalWrapper .rsModalButtons a
{
	background: url('Scheduler/rsSprites.gif') no-repeat;
}

.RadScheduler_MySkin .rsModalWrapper .rsModalIcon
{
	background-position: 0 -526px;
}

.RadScheduler_MySkin .rsModalWrapper .rsModalButtons .rsModalConfirm,
.RadScheduler_MySkin .rsModalWrapper .rsModalButtons .rsModalClose
{
	background-position: 0 -452px;
	border: 0;
	color: #333;
	background-color: #fff;
	width: 86px;
}